version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: dockerfile
    container_name: api-gateway
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8080:8080"
    networks:
      - gateway-network
      - discovery-network
    restart: unless-stopped

networks:
  gateway-network:
    driver: bridge
  discovery-network:
    external: true