server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server: 
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**, /admin/**
              filters:
                - JwtAuthenticationFilter
            - id: subject-service
              uri: lb://subject-service
              predicates:
                - Path=/subject/**
              filters:
                - JwtAuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  access:
    expiration: ${JWT_ACCESS_EXPIRATION}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION}
