version: '3.8'

services:
  discovery-service:
    build:
      context: .
      dockerfile: dockerfile
    container_name: discovery-service
    ports:
      - "8761:8761"
    networks:
      - discovery-network
    restart: unless-stopped

networks:
  discovery-network:
    driver: bridge